{% embed 'partials/base.html.twig' %}
    {% block content %}
    {% include 'blog/' ~ framework ~ '/item.html.twig' %}
    {% if config.plugins.jscomments.enabled and not truncate %}
    <div class="container">
        <div class="col-md-9">
          {{ jscomments()|raw }}
        </div>
    </div>
    {% endif %}
    {% endblock %}
{% endembed %}